/* start of footer */

.footer{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(1,auto);
    grid-template-areas:
    "contenedor-a contenedor-b contenedor-c contenedor-d"
    ;
    background-color: $secondary;
    border-top: 2px solid $lyrics;
    @include flex(row, space-around, center , map-get($map:$Estilos, $key:t-f ));
}
@each $var in a, b, c, d {
    .contenedor-#{$var}{
        background-color: $secondary;
        color: $principal;
        margin-bottom: 1rem;
        & a img{
            width: 50px;
        }
        & a:hover{
            border-bottom: 1px solid $principal;
        }
    }
}


@media (max-width: 768px){
    .footer{
        display: grid;
        grid-template-columns: repeat(1,100%);
        grid-template-rows: repeat(4,auto);
        grid-template-areas:
        "contenedor-a"
        "contenedor-b"
        "contenedor-c"
        "contenedor-d"
        ;
        padding: 0%;
        margin: 1rem auto;
        text-align: center
    }
}