/* start of footer */

.footer-2{
    background-image: linear-gradient(to top,var(--secondary), white);
    background-color: #fff;
    border:1px solid orange;
    display: flex;
    justify-content: center;
    & .footer__Link{
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 1em;
        & :hover a{
            border-bottom: 2px solid black;
        }
    }
    & .link{
        margin-top: 5em;
    }
}
.footer{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(1,auto);
    grid-template-areas:
    "contenedor-1 contenedor-2 contenedor-3 contenedor-4"
    ;
    padding: 1rem;
    background-color: $secondary;
    border-top: 2px solid orange;
    display: flex;
    justify-content: space-between;
    & .contenedor-1{
        grid-area: contenedor-1;
    }
    & .contenedor-2{
        grid-area: contenedor-2;
    }
    & .contenedor-3{
        grid-area: contenedor-3;
    }
    & .contenedor-4{
        grid-area: contenedor-4;
        & a img{
            width: 50px;
        }
    }
}