

/* Start of index*/

.header{
    background-color: $secondary;
    position: fixed;
    width: 100%;
    border-bottom: 2px solid $lyrics;
    & .navBar{
        max-width: 1080px;
        margin: auto;
        color: $lyrics;
        display: flex;
        justify-content: space-around;
        & a img{
            width: 4em;
            border-radius: 100%;
            line-height: 62px;
        }
        &__Container{
            display: none;
            margin: auto 0;
            background-color: $secondary;
            border: none;
            &--SubMenu{
                border: 3px solid orange;
                text-align: left;
                padding: 1rem;
                position: absolute;
                background-color: white;
                margin-top: 2rem;
                position: fixed;
                left: 50%;
                top: 1rem;
                height: calc(100% - 60px);
                overflow-y: auto;
                & a{
                    font-size: 25px;
                    padding: 10px auto;
                    margin: 1rem;
                } 
            }
        }
        &__Two{
            margin: auto 0;
            & .navBar__Items{
                margin: 0%;
                padding: 0%;
                border: none;
                display: flex;
                justify-content: end;
                & a{
                    color: $principal;
                    display: inline-block;
                    padding: 0px 1em;
                    margin: 5px 10px;
                    &:hover{
                        border-bottom: 2px solid $lyrics;
                        transition: 0.2s;
                        color: $lyrics;
                    }
                }
                & .log__In{
                    padding: 0px 1em;
                    margin: 5px 10px;
                    border-radius: 5px;
                    border: 2px solid black;
                    &:hover{
                        background-color: $secondary;
                    }
                }
            }
        }
    }
}



@media (max-width: 768px){
    .header{
        .navBar{
            & a img{
                font-size: 11px;
            }
            &__Two{
                display: none;
            }
            &__Container{
                display: block;
                & .icon{
                    margin: auto;
                    padding: 50%;
                    font-size: 25px;
                }
                &--SubMenu{
                    display: none;
                }
            }
            & :hover .navBar__Container--SubMenu{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}