/* Variables */
/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Inter:wght@300;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Mono:ital,wght@1,300&family=Roboto:ital,wght@1,300&family=Shippori+Antique+B1&display=swap");
/* Normalize */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: "Inter", sans-serif;
  color: gray; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    border-bottom: 1px solid black; }

body {
  background-color: #fff;
  font-family: 'Shippori Antique B1', sans-serif;
  font-size: 16px;
  writing-mode: horizontal-tb; }

/* Start of index*/
.header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  border-bottom: 2px solid orange; }
  .header .navBar {
    max-width: 1080px;
    margin: auto;
    color: #0b0c0d;
    display: flex;
    justify-content: space-around; }
    .header .navBar a img {
      width: 4em;
      border-radius: 100%;
      line-height: 62px; }
    .header .navBar__Container {
      display: none;
      margin: auto 0;
      background-color: #fff;
      border: none; }
      .header .navBar__Container .icon {
        padding: 0px;
        font-size: 25px; }
        .header .navBar__Container .icon:hover {
          padding: 9px;
          margin: 0;
          border: 2px solid orange; }
      .header .navBar__Container--SubMenu {
        border: 3px solid orange;
        text-align: left;
        padding: 1rem;
        position: absolute;
        background-color: white;
        margin-top: 2rem;
        position: fixed;
        left: 50%;
        top: 1rem;
        height: calc(100% - 60px);
        overflow-y: auto; }
        .header .navBar__Container--SubMenu .log__In {
          padding: 0px 1em;
          margin: 5px 10px;
          border-radius: 5px;
          border: 2px solid black;
          text-align: center; }
          .header .navBar__Container--SubMenu .log__In:hover {
            background-color: #fff;
            background-image: linear-gradient(#fff, white);
            transition: 0.5s; }
        .header .navBar__Container--SubMenu a {
          font-size: 25px;
          padding: 10px auto;
          margin: 1rem; }
    .header .navBar__Two .navBar__Items {
      margin: 0%;
      padding: 0%;
      border: none;
      display: flex;
      justify-content: end; }
      .header .navBar__Two .navBar__Items .log__In--Icon {
        background: none;
        border: none; }
      .header .navBar__Two .navBar__Items a {
        color: #0b0c0d;
        display: inline-block;
        padding: 0px 1em;
        margin: 5px 10px; }
        .header .navBar__Two .navBar__Items a:hover {
          border-bottom: 2px solid orange;
          transition: 0.2s;
          color: #0b0c0d; }
      .header .navBar__Two .navBar__Items .log__In {
        padding: 0px 1em;
        margin: 5px 10px;
        border-radius: 5px;
        border: 2px solid black; }
        .header .navBar__Two .navBar__Items .log__In:hover {
          background-color: #fff; }

@media (max-width: 768px) {
  .header .navBar a img {
    font-size: 11px; }
  .header .navBar__Two {
    display: none; }
  .header .navBar__Container {
    display: block; }
    .header .navBar__Container .icon {
      margin: auto;
      font-size: 25px; }
    .header .navBar__Container--SubMenu {
      display: none; }
  .header .navBar :hover .navBar__Container--SubMenu {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between; } }

/* start of footer */
.footer-2 {
  background-image: linear-gradient(to top, var(--secondary), white);
  background-color: #fff;
  border: 1px solid orange;
  display: flex;
  justify-content: center; }
  .footer-2 .footer__Link {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1em; }
    .footer-2 .footer__Link :hover a {
      border-bottom: 2px solid black; }
  .footer-2 .link {
    margin-top: 5em; }

.footer {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(1, auto);
  grid-template-areas: "contenedor-1 contenedor-2 contenedor-3 contenedor-4";
  padding: 1rem;
  background-color: #fff;
  border-top: 2px solid orange;
  display: flex;
  justify-content: space-between; }
  .footer .contenedor-1 {
    grid-area: contenedor-1; }
  .footer .contenedor-2 {
    grid-area: contenedor-2; }
  .footer .contenedor-3 {
    grid-area: contenedor-3; }
  .footer .contenedor-4 {
    grid-area: contenedor-4; }
    .footer .contenedor-4 a img {
      width: 50px; }

/* home */
.main__Description {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: ". text frame ." ". section section .";
  text-align: center;
  border: 2px solid white;
  gap: 1rem;
  justify-content: center;
  padding-top: 6em; }
  .main__Description .text {
    grid-area: text;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(#fff, white);
    border-radius: 1em;
    padding: 1em;
    border: 2px solid orange; }
    .main__Description .text button {
      margin: auto;
      border: none;
      border-radius: 1rem; }
      .main__Description .text button a {
        padding: 2px 4rem;
        border-radius: 5px solid black; }
        .main__Description .text button a :hover {
          border-radius: 1rem;
          border: 1px solid black;
          background-color: orange; }
  .main__Description .frame {
    grid-area: frame; }
    .main__Description .frame img {
      width: 100%;
      border-radius: 1em;
      border: 2px solid orange;
      /* transform: translate(12px, 20px); */
      /* Realizar un sombreado a la imagen principal-------------------------------- */ }
  .main__Description .section {
    grid-area: section;
    background-image: linear-gradient(to left, #fff, white);
    border-radius: 1em;
    padding: 2em;
    text-align: center;
    margin-bottom: 15em;
    border: 2px solid orange; }

@media (max-width: 768px) {
  .main__Description {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "text" "frame" "section";
    text-align: center;
    border: 2px solid white;
    gap: 2em;
    justify-content: center;
    padding-top: 6em; }
    .main__Description .text {
      margin: 2rem;
      border: 2px solid orange; }
    .main__Description .frame img {
      width: 80%;
      margin: 2rem;
      border: 2px solid orange; }
    .main__Description .section {
      border: 2px solid orange;
      margin: 2rem; }
  .grid__Area {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "contenedor-1 contenedor-1 contenedor-1 contenedor-1" "contenedor-4 contenedor-4 contenedor-4 contenedor-4"  "contenedor-2 contenedor-2 contenedor-2 contenedor-2" "contenedor-2 contenedor-2 contenedor-2 contenedor-2" "contenedor-3 contenedor-3 contenedor-3 contenedor-3";
    height: max-content; }
    .grid__Area .contenedor-1 {
      grid-area: contenedor-1;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 5rem;
      font-size: 30px; }
    .grid__Area .contenedor-2 {
      grid-area: contenedor-2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 1rem; }
    .grid__Area .contenedor-3 {
      grid-area: contenedor-3; }
    .grid__Area .contenedor-4 {
      grid-area: contenedor-4;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 5rem; }
    .grid__Area .contenedor-4 label {
      margin: 1rem; } }

/* Start of Form  */
.grid__Form {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "contenedor-1 contenedor-1 contenedor-1 contenedor-1" "contenedor-2 contenedor-form contenedor-form contenedor-3"  "contenedor-4 contenedor-form contenedor-form contenedor-5" "contenedor-4 contenedor-form contenedor-form contenedor-5";
  max-width: 1080px;
  text-align: center;
  gap: 1rem;
  justify-content: center;
  padding-top: 6em;
  margin: auto;
  margin-bottom: 5rem; }
  .grid__Form .contenedor-1 {
    background-image: url(/assets/image/titulo-2.png);
    color: white;
    grid-area: contenedor-1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5rem;
    font-size: 30px;
    border-radius: 1rem; }
  .grid__Form .contenedor-2 {
    grid-area: contenedor-2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5rem;
    background-color: #f7dcab;
    border-radius: 1rem; }
    .grid__Form .contenedor-2 ul {
      list-style-type: none; }
  .grid__Form .contenedor-form {
    background-color: #f7dcab;
    grid-area: contenedor-form;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1rem;
    padding: 2rem; }
    .grid__Form .contenedor-form .start {
      display: flex;
      flex-direction: row;
      justify-content: start;
      padding: 2rem; }
    .grid__Form .contenedor-form .width input {
      font-size: 30px;
      margin: 1rem; }
    .grid__Form .contenedor-form .textarea {
      height: 10rem;
      padding: 1rem; }
    .grid__Form .contenedor-form .button {
      color: #fff;
      background-color: #0b0c0d;
      height: 2rem;
      margin: 2rem;
      border: none;
      border-radius: 5px; }
    .grid__Form .contenedor-form ul {
      text-align: center;
      list-style-type: none;
      margin: auto; }
  .grid__Form .contenedor-3 {
    grid-area: contenedor-3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5rem;
    background-color: #f7dcab;
    border-radius: 1rem; }
  .grid__Form .contenedor-4 {
    grid-area: contenedor-4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5rem;
    background-color: #f7dcab;
    border-radius: 1rem; }
  .grid__Form .contenedor-5 {
    grid-area: contenedor-5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5rem;
    background-color: #f7dcab;
    border-radius: 1rem; }

@media (max-width: 768px) {
  .grid__Form {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "contenedor-1 contenedor-1 contenedor-1 contenedor-1" "contenedor-form  contenedor-form contenedor-form contenedor-form "  "contenedor-form  contenedor-form contenedor-form contenedor-form " "contenedor-2 contenedor-2 contenedor-3 contenedor-3" "contenedor-4 contenedor-4 contenedor-5 contenedor-5";
    height: max-content; }
    .grid__Form .contenedor-2 {
      background-color: #fff; }
    .grid__Form .contenedor-form {
      background-color: #fff; }
    .grid__Form .contenedor-3 {
      background-color: #fff; }
    .grid__Form .contenedor-4 {
      background-color: #fff; }
    .grid__Form .contenedor-5 {
      background-color: #fff; } }

/* Service */
.grid__Service {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "contenedor-1 contenedor-1 contenedor-1 contenedor-1" "contenedor-4 contenedor-4 contenedor-4 contenedor-4" "contenedor-2 contenedor-2 contenedor-3 contenedor-3"  "contenedor-2 contenedor-2 contenedor-3 contenedor-3";
  max-width: 1080px;
  text-align: center;
  gap: 1rem;
  justify-content: center;
  padding-top: 6em;
  padding-bottom: 6em;
  margin: auto;
  height: 100rem; }
  .grid__Service .contenedor-1 {
    background-image: url(../../assets/image/titulo-2.png);
    grid-area: contenedor-1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
    padding: 1rem;
    font-size: 25px;
    border-radius: 1rem; }
  .grid__Service .contenedor-2 {
    background-color: #f7dcab;
    grid-area: contenedor-2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1rem;
    padding: 2rem; }
    .grid__Service .contenedor-2 div ul {
      text-align: center;
      margin: auto; }
  .grid__Service .contenedor-3 {
    background-color: #f7dcab;
    grid-area: contenedor-3;
    border-radius: 1rem;
    padding: 2rem;
    justify-content: space-around; }
    .grid__Service .contenedor-3 .buttom {
      background-color: black; }
  .grid__Service .contenedor-4 {
    grid-area: contenedor-4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    background-color: #f7dcab;
    border-radius: 1rem; }
    .grid__Service .contenedor-4 div ul {
      text-align: center;
      margin: auto; }
  .grid__Service .contenedor-2 iframe {
    width: 100%; }
  .grid__Service .contenedor-3 ul iframe {
    width: 100%; }

.grid__Project {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "contenedor-1 contenedor-1 contenedor-1 contenedor-1" "contenedor-4 contenedor-4 contenedor-4 contenedor-4" "contenedor-2 contenedor-2 contenedor-3 contenedor-3"  "contenedor-2 contenedor-2 contenedor-3 contenedor-3";
  max-width: 1080px;
  text-align: center;
  gap: 1rem;
  justify-content: center;
  padding-top: 6em;
  padding-bottom: 6em;
  margin: auto; }
  .grid__Project .contenedor-1 {
    grid-area: contenedor-1;
    background-image: url(../../assets/image/titulo-2.png);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #fff;
    padding: 1rem;
    font-size: 25px; }
  .grid__Project .contenedor-2 {
    grid-area: contenedor-2;
    background-color: #f7dcab;
    grid-area: contenedor-2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    padding: 2rem; }
    .grid__Project .contenedor-2 ul li {
      text-align: left;
      margin-right: 0; }
  .grid__Project .contenedor-3 {
    grid-area: contenedor-3;
    background-color: #f7dcab;
    padding: 2rem;
    justify-content: space-around; }
  .grid__Project .contenedor-4 {
    grid-area: contenedor-4;
    background-color: #f7dcab;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem; }
    .grid__Project .contenedor-4 div ul {
      text-align: center;
      margin: auto; }

/* Contact-us */
.grid__Contact {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "contenedor-1 contenedor-1 contenedor-1 contenedor-1" "contenedor-2 contenedor-2 contenedor-2 contenedor-2" "contenedor-2 contenedor-2 contenedor-2 contenedor-2"  "contenedor-2 contenedor-2 contenedor-2 contenedor-2";
  max-width: 1080px;
  text-align: center;
  gap: 1rem;
  justify-content: center;
  padding-top: 6em;
  padding-bottom: 6em;
  margin: auto;
  height: 60rem; }
  .grid__Contact .contenedor-1 {
    background-image: url(../../assets/image/titulo-2.png);
    grid-area: contenedor-1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    color: #fff; }
  .grid__Contact .contenedor-2 {
    background-color: #f7dcab;
    grid-area: contenedor-2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem; }
    .grid__Contact .contenedor-2 div ul {
      text-align: center;
      margin: auto; }

/* helpers */
.none {
  border: none;
  text-decoration: none;
  color: inherit; }

.flex__Column {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.color {
  background-image: none; }

.tracing {
  border-bottom: 2px solid orange; }

.border {
  border: 1px solid orange; }

.flex__Row {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.button__Articulos {
  background-color: #0b0c0d;
  color: #fff; }
