/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&family=Inter:wght@300;500;700&display=swap");


/* helpers */
.none{ 
    border: none;
    text-decoration: none;
    color: inherit;
}
.flex__Column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.color{
    background-image: none;
}
.tracing{
    border-bottom: 2px solid orange;
}
.border{
    border: 1px solid orange;
}


/* start of main */

/* Index */
/* .main__Description{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: 
    ". text frame ."
    ". section section .";
    text-align: center;
    border: 2px solid white;
    gap: 1rem;
    justify-content: center;
    padding-top: 6em;
}
.text{
    grid-area: text;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image: linear-gradient(var(--secondary), white);
    border-radius: 1em;
    padding: 1em;
    border: 2px solid orange;
}
.text button{
    margin: auto;
    border: none;
    border-radius: 1rem;
}
.text button a{
    padding: 2px 4rem;
    border-radius: 5px solid black;
}
.text button a:hover{
    border-radius: 1rem;
    border: 1px solid black;
    background-color: orange;
}
.frame{
    grid-area: frame;

}
.frame img{
    width: 100%;
    border-radius: 1em;
    border: 2px solid orange ;
    /* transform: translate(12px, 20px); */
    /* Realizar un sombreado a la imagen principal-------------------------------- 
}
.section{
    grid-area: section;
    background-image: linear-gradient(to left,var(--secondary), white);
    border-radius: 1em;
    padding: 2em;
    text-align: center;
    margin-bottom: 15em;
    border: 2px solid orange ;
} */





/* proyect */
/* .section__Proyect{
    margin: 15em 10em;
}
.section__Proyect--Link h1{
    padding: 1em 5em;
    width: max-content;
    display: flex;
    justify-content: center;
    margin: 0% auto 2em;
    border-radius: 2em;
}
.section__Proyect--Link h1:hover{
    border: 1px solid white;
    background-color: var(--secondary);
}
.section__Proyect--Album{
    padding: 0px 25em;
    margin: auto;
    flex-wrap: wrap ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}
.section__Proyect--Album img{
    width: 15em;
    border-radius: 2em;
}
.section__Proyect--Subtitle{
    margin: auto;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: center; 
}
.section__Proyect--Link{
    margin: 15em 10em;
}
.section__Proyect--Link h1{
    padding: 1em 5em;
    width: max-content;
    display: flex;
    justify-content: center;
    margin: 0% auto 2em;
    border-radius: 2em;
}
.section__Proyect--Link h1:hover{
    border: 1px solid white;
    background-color: var(--secondary);
} */
/* Class reutiliti: 
_  main__Description.
_  text
_  frame
_  none
*/





/* Start of Form  */
/* .grid__Area{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(4,auto);
    grid-template-areas:
    "contenedor-1 contenedor-1 contenedor-1 contenedor-1"
    "contenedor-2 contenedor-2 contenedor-4 contenedor-4" 
    "contenedor-3 contenedor-3 contenedor-4 contenedor-4"
    "contenedor-3 contenedor-3 contenedor-4 contenedor-4"
    ;
    text-align: center;
    gap: 1rem;
    justify-content: center;
    padding-top: 6em;
    margin: 0 3rem;
    height: 100rem;
}
.contenedor-1{
    background-image: linear-gradient(orange, white);
    grid-area: contenedor-1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5rem;
    font-size: 30px;
    border-radius: 1rem;
}
.contenedor-2{
    background-image: linear-gradient(to top,orange, white);
    grid-area: contenedor-2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1rem;

}
.contenedor-2 ul{
    list-style-type: none;
}
.contenedor-3{
    background-image: linear-gradient(orange, white);
    grid-area: contenedor-3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    padding: 2rem;
}
.contenedor-3 ul{
    text-align: center;
    list-style-type: none;
    margin: auto;
}
.contenedor-4{
    grid-area: contenedor-4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5rem;
    background-image: linear-gradient(orange, white);
    border-radius: 1rem;


} */
/* Class utiliti
_ 
*/







/* Service */
/* .grid__Form{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(4,auto);
    grid-template-areas:
    "contenedor-1 contenedor-1 contenedor-1 contenedor-1"
    "contenedor-2 contenedor-2 contenedor-4 contenedor-4" 
    "contenedor-3 contenedor-3 contenedor-4 contenedor-4"
    "contenedor-3 contenedor-3 contenedor-4 contenedor-4"
    ;
    text-align: center;
    gap: 1rem;
    justify-content: center;
    padding-top: 6em;
    padding-bottom: 6em;
    margin: 0 3rem;
    height: 100rem;
}
.contenedor-1{
    background-image: linear-gradient(orange, white);
    grid-area: contenedor-1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5rem;
    font-size: 30px;
    border-radius: 1rem;
}
.contenedor-2{
    background-image: linear-gradient(to top,orange, white);
    grid-area: contenedor-2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1rem;

}
.contenedor-3{
    background-image: linear-gradient(orange, white);
    grid-area: contenedor-3;
    border-radius: 1rem;
}
.contenedor-4{
    grid-area: contenedor-4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
    background-image: linear-gradient(orange, white);
    border-radius: 1rem;
}
.contenedor-2 iframe{
    width: 100%;
}
.contenedor-3 ul iframe{
    width: 100%;
} */




/* start of footer */
/* .footer{
    background-image: linear-gradient(to top,var(--secondary), white);
    background-color: #fff;
    border:1px solid orange;
    display: flex;
    justify-content: center;
}
.footer__Link{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 1em;
}
.link{
    margin-top: 5em;
}
.footer__Link:hover a{
    border-bottom: 2px solid black;
} */






/* Contact-us */
/* .contact{
    display: grid;
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    margin: 15em 5em;
    padding: 2em;
    border-radius: 2em;
    border: 1px solid orange;
}
.contact__Data{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    height: 15em;
    margin: auto;
}
.contact__Data p a{
    color: var(--primary);
    text-decoration: none;
}
.contact__Data p a:hover{
    border-bottom: 2px solid black;
}
.contact__Title{
    margin: 2em;
}
.margin{/* agrando margen para colocar el footer en el fondo de la pagina*/
    /* margin-top: 7em; */
/* } */ 







/*   Realizar un @query   */
/* @media (max-width: 768px){
    .header{
        font-size: 60px;
    }
    .navBar__Two{
        display: none;
    }
    .navBar a img{
        font-size: 11px;
    }  
    .navBar .navBar__Icon .navBar__SubMenu{
        display: none;
    }
    .navBar .navBar__Icon:hover .navBar__SubMenu{
        margin: auto;
        display: flex;
        flex-direction: column;
        display: inline-block;
        text-align: center;
        position: fixed;
        left: 50%;
        top: 68px;
        height: calc(100% - 60px);
        overflow-y: auto;
        background-image: linear-gradient(to top,var(--secondary), white);
    }
    .navBar .navBar__Icon .navBar__SubMenu .navBar__List{
        font-size: 30px;
        padding: 1em auto;
        margin: 25px;
    }
    .navBar .navBar__Icon{
        background: none;
        border: none;
        display: block;
    }
    .navBar .navBar__Icon i{
        font-size: 2rem;
        padding: 2px 7px;
    }
    .log__in:hover{
        padding: 5em;
        background-image: linear-gradient(var(--secondary), white);
        transition: 0.5s;
    }



    
    .grid__Area{
        display: grid;
        grid-template-columns: repeat(4,25%);
        grid-template-rows: repeat(4,auto);
        grid-template-areas:
        "contenedor-1 contenedor-1 contenedor-1 contenedor-1"
        "contenedor-4 contenedor-4 contenedor-4 contenedor-4" 
        "contenedor-2 contenedor-2 contenedor-2 contenedor-2"
        "contenedor-2 contenedor-2 contenedor-2 contenedor-2"
        "contenedor-3 contenedor-3 contenedor-3 contenedor-3"
        ;
        height: max-content;
    }
    .contenedor-1{
        grid-area: contenedor-1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5rem;
        font-size: 30px;
    }
    .contenedor-2{
        grid-area: contenedor-2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }
    .contenedor-3{
        grid-area: contenedor-3;
    }
    .contenedor-4{
        grid-area: contenedor-4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5rem;
    }
    .contenedor-4 label{
        margin: 1rem;
    }






    .grid__Form{
        display: grid;
        grid-template-columns: repeat(4,25%);
        grid-template-rows: repeat(4,auto);
        grid-template-areas:
        "contenedor-1 contenedor-1 contenedor-1 contenedor-1"
        "contenedor-4 contenedor-4 contenedor-4 contenedor-4" 
        "contenedor-2 contenedor-2 contenedor-2 contenedor-2"
        "contenedor-2 contenedor-2 contenedor-2 contenedor-2"
        "contenedor-3 contenedor-3 contenedor-3 contenedor-3"
        ;
        height: max-content;
    }
    .contenedor-1{
        grid-area: contenedor-1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5rem;
        font-size: 30px;
    }
    .contenedor-2{
        grid-area: contenedor-2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem;
    }
    .contenedor-3{
        grid-area: contenedor-3;
    }
    .contenedor-4{
        grid-area: contenedor-4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 5rem;
    }
    .contenedor-3 iframe{
        width: 100%;
    }
    .contenedor-2 iframe{
        width: 100%;
    }
    .contenedor-4 label{
        margin: 1rem;
    }

} */
