
/* Contact-us */


.contact{
    display: grid;
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    margin: 15em 5em;
    padding: 2em;
    border-radius: 2em;
    border: 1px solid orange;
    & .contact__Data{
        display: flex;
        text-align: center;
        flex-direction: column;
        justify-content: space-between;
        height: 15em;
        margin: auto;
        & p a{
            color: var(--primary);
            text-decoration: none;
            & :hover{
                border-bottom: 2px solid black;
            }
        }
    }
    & .contact__Title{
        margin: 2em;
    }
}