
/* Contact-us */


.grid__Contact{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(4,auto);
    grid-template-areas:
    "contenedor-1 contenedor-1 contenedor-1 contenedor-1"
    "contenedor-2 contenedor-2 contenedor-2 contenedor-2"
    "contenedor-2 contenedor-2 contenedor-2 contenedor-2" 
    "contenedor-2 contenedor-2 contenedor-2 contenedor-2"
    ;
    max-width: 1080px;
    text-align: center;
    gap: 1rem;
    justify-content: center;
    padding-top: 6em;
    padding-bottom: 6em;
    margin: auto;
    height: 60rem;
    & .contenedor-1{
        background-image:url(../../assets/image/titulo-2.png);
        grid-area: contenedor-1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size:map-get($map: $Estilos , $key:t-f );
        color: $secondary;
    }
    & .contenedor-2{
        background-color: $third;
        grid-area: contenedor-2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2rem;
        & div ul{
            text-align: center;
            margin: auto;
        }
    }
}


@media (max-width: 768px){
    .grid__Contact{
        display: grid;
        grid-template-columns: repeat(4,25%);
        grid-template-rows: repeat(4,auto);
        grid-template-areas:
        "contenedor-1 contenedor-1 contenedor-1 contenedor-1"
        "contenedor-2 contenedor-2 contenedor-2 contenedor-2"
        "contenedor-2 contenedor-2 contenedor-2 contenedor-2" 
        "contenedor-2 contenedor-3 contenedor-2 contenedor-2"
        ;
        min-width: 600px;
        & .contenedor-1{
            width: 80%;
            height: 16rem;
            margin: auto;
        }
        & .contenedor-2{
            width: 80%;
            height: 25rem;
            margin: auto;
        }
    }
}