/* Start of Form  */
.grid__Form{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(4,auto);
    grid-template-areas:
    "contenedor-1 contenedor-1 contenedor-1 contenedor-1"
    "contenedor-2 contenedor-form contenedor-form contenedor-3" 
    "contenedor-4 contenedor-form contenedor-form contenedor-5"
    "contenedor-4 contenedor-form contenedor-form contenedor-5"
    ;
    max-width: 1080px;
    text-align: map-get($map:$Estilos, $key:t-a );
    gap: 1rem;
    padding-top: 6em;
    margin: auto;
    margin-bottom: 5rem;
    & .contenedor-1{
        background-image:url(../../assets/image/titulo-2.png);
        color: $secondary;
        grid-area: contenedor-1;
        font-size:map-get($map: $Estilos, $key:t-f);
        border-radius: 1rem;
    }
    & .contenedor-2{
        @include flex(column, space-between, center, default);
        grid-area: contenedor-2;
        background-color: $third;
        border-radius: 1rem;
        & ul{
            list-style-type: none;
        }
    }
    & .contenedor-form{
        @include flex(column, space-between, center, default);
        background-color: $third;
        grid-area: contenedor-form;
        border-radius: 1rem;
        & .start{
            display: flex;
            flex-direction: row;
            justify-content: start;
        }
        & .width{
            & input{
                font-size: 30px;
                margin: 1rem;
            }
        }
        & .textarea{
            height: 10rem;
        }
        & .button{
            color: $secondary;
            background-color: $principal;
            height: 2rem;
            margin: 2rem;
            border: none;
            border-radius: 5px;
        }
        ul{
            text-align: center;
            list-style-type: none;
            margin: auto;
        }
    }
    & .contenedor-3{
        @include flex(column, space-between, center, default);
        grid-area: contenedor-3;
        background-color: $third;
        border-radius: 1rem;
        & ul{
            @include flex(column, space-between, center, default);
        }
    }
    & .contenedor-4{
        @include flex(column, space-between, center, default);
        grid-area: contenedor-4;
        background-color: $third;
        border-radius: 1rem;
    }
    & .contenedor-5{
        @include flex(column, space-between, center, default);
        grid-area: contenedor-5;
        background-color: $third;
        border-radius: 1rem;
    }
}

// media
@media (max-width: 768px){
    .grid__Form{
        display: grid;
        grid-template-columns: repeat(4,25%);
        grid-template-rows: repeat(5,auto);
        grid-template-areas:
        "contenedor-1 contenedor-1 contenedor-1 contenedor-1"
        "contenedor-form  contenedor-form contenedor-form contenedor-form " 
        "contenedor-form  contenedor-form contenedor-form contenedor-form "
        "contenedor-2 contenedor-2 contenedor-3 contenedor-3"
        "contenedor-4 contenedor-4 contenedor-5 contenedor-5"
        ;
        gap: 8px 2px;
        height: max-content;
        margin: 0 1rem 1rem;
        min-width: 600px;
        & .contenedor-form{
            & .width{
                & input{
                    font-size: 25px;
                }
            }
        }
    }
}