/* Start of Form  */
.grid__Form{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(4,auto);
    grid-template-areas:
    "contenedor-1 contenedor-1 contenedor-1 contenedor-1"
    "contenedor-2 contenedor-form contenedor-form contenedor-3" 
    "contenedor-4 contenedor-form contenedor-form contenedor-5"
    "contenedor-4 contenedor-form contenedor-form contenedor-5"
    ;
    max-width: 1080px;
    text-align: center;
    gap: 1rem;
    justify-content: center;
    padding-top: 6em;
    margin: auto;
    margin-bottom: 5rem;
    & .contenedor-1{
        background-image:url(../../assets/image/titulo-2.png);
        color: white;
        grid-area: contenedor-1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5rem;
        font-size: 30px;
        border-radius: 1rem;
    }
    & .contenedor-2{
        grid-area: contenedor-2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5rem;
        background-color: $third;
        border-radius: 1rem;
        & ul{
            list-style-type: none;
        }
    }
    & .contenedor-form{
        background-color: $third;
        grid-area: contenedor-form;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 1rem;
        padding: 2rem;
        & .start{
            display: flex;
            flex-direction: row;
            justify-content: start;
            padding: 2rem;
        }
        & .width{
            & input{
                font-size: 30px;
                margin: 1rem;
            }
        }
        & .textarea{
            height: 10rem;
            padding: 1rem;
        }
        & .button{
            color: $secondary;
            background-color: $principal;
            height: 2rem;
            margin: 2rem;
            border: none;
            border-radius: 5px;
        }
        ul{
            text-align: center;
            list-style-type: none;
            margin: auto;
        }
    }
    & .contenedor-3{
        grid-area: contenedor-3;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5rem;
        background-color: $third;
        border-radius: 1rem;
    }
    & .contenedor-4{
        grid-area: contenedor-4;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5rem;
        background-color: $third;
        border-radius: 1rem;
    }
    & .contenedor-5{
        grid-area: contenedor-5;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5rem;
        background-color: $third;
        border-radius: 1rem;
    }
}


@media (max-width: 768px){
    .grid__Form{
        display: grid;
        grid-template-columns: repeat(4,25%);
        grid-template-rows: repeat(5,auto);
        grid-template-areas:
        "contenedor-1 contenedor-1 contenedor-1 contenedor-1"
        "contenedor-form  contenedor-form contenedor-form contenedor-form " 
        "contenedor-form  contenedor-form contenedor-form contenedor-form "
        "contenedor-2 contenedor-2 contenedor-3 contenedor-3"
        "contenedor-4 contenedor-4 contenedor-5 contenedor-5"
        ;
        height: max-content;
        & .contenedor-2{
            background-color: $secondary;

        }
        & .contenedor-form{
            background-color: $secondary;
        }
        & .contenedor-3{
            background-color: $secondary;
        }
        & .contenedor-4{
            background-color: $secondary;
        }
        & .contenedor-5{
            background-color: $secondary;
        }
    }
}