
/* home */


.main__Description{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(2,auto);
    grid-template-areas: 
    ". text frame ."
    ". section section .";
    text-align: center;
    border: 2px solid white;
    gap: 1rem;
    justify-content: center;
    padding-top: 6em;
    & .text{
        grid-area: text;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: $third;
        border-radius: 1em;
        padding: 1em;
        border: 2px solid orange;
        & button{
            margin: auto;
            border: none;
            border-radius: 1rem;
            & a{
                padding: 2px 4rem;
                & :hover{
                    background-color: orange;
                }
            }
        }
    }
    & .frame{
        grid-area: frame;
        & img{
            width: 100%;
            border-radius: 1em;
            border: 2px solid orange ;
        }
    }
    & .section{
        grid-area: section;
        background-color: $third;
        border-radius: 1em;
        padding: 2em;
        text-align: center;
        margin-bottom: 5rem;
        border: 2px solid orange ;
    }
}

// start of main
@media (max-width: 768px){
    .main__Description{
        display: grid;
        grid-template-columns: repeat(1,100%);
        grid-template-rows: repeat(3,250px);
        grid-template-areas: 
        "frame"
        "text"
        "section";
        border: 2px solid white;
        gap: 1rem;
        padding-top: 0;
        min-width: 560px;
        width: 100%;
        margin: auto;
        & .text{
            margin: 2rem;
            border: 2px solid orange ;
        }
        & .frame img{
            width: 80%;
            margin: 2rem;
            border: 2px solid orange;
        }
        & .section{
            border: 2px solid orange;
            margin: 2rem;
        }
    }
}