// project-us

.grid__Project{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(4,auto);
    grid-template-areas:
    "contenedor-1 contenedor-1 contenedor-1 contenedor-1"
    "contenedor-4 contenedor-4 contenedor-4 contenedor-4"
    "contenedor-2 contenedor-2 contenedor-3 contenedor-3" 
    "contenedor-2 contenedor-2 contenedor-3 contenedor-3"
    ;
    max-width: 1080px;
    text-align: center;
    gap: 1rem;
    justify-content: center;
    padding-top: 6em;
    padding-bottom: 6em;
    margin: auto;

    & .contenedor-1{
        color: $secondary;
        grid-area: contenedor-1;
        background-image:url(../../assets/image/titulo-2.png);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size:map-get($map: $Estilos , $key:t-f );
    }
    & .contenedor-2{
        grid-area: contenedor-2;
        margin: auto;
        & ul li{
            text-align: left;
            margin-right: 0;
        }
        & h2{
            margin-bottom: 3rem;
        }
    }
    & .contenedor-3{
        grid-area: contenedor-3;
        & h2{
            margin-bottom: 3rem;
        }
    }
    & .contenedor-4{
        grid-area: contenedor-4;
        & div ul{
            text-align: center;
            margin: auto;
        }
    }
}

@media (max-width: 768px){
    .grid__Project{
        display: grid;
        grid-template-columns: repeat(4,25%);
        grid-template-rows: repeat(4,auto);
        grid-template-areas:
        "contenedor-1 contenedor-1 contenedor-1 contenedor-1"
        "contenedor-4 contenedor-4 contenedor-4 contenedor-4"
        "contenedor-2 contenedor-2 contenedor-2 contenedor-2" 
        "contenedor-3 contenedor-3 contenedor-3 contenedor-3"
        ;
        font-size: 100%;
        // min-width: 400px;
        & .contenedor-1{
            width: 80%;
            margin: auto;
        }
        & .contenedor-2{
            width: 80%;
            margin: auto;
        }
        & .contenedor-3{
            width: 80%;
            margin: auto;
        }
        & .contenedor-4{
            width: 80%;
            margin: auto;
        }
    }
}