/* Service */
.grid__Service{
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: repeat(4,auto);
    grid-template-areas:
    "contenedor-1 contenedor-1 contenedor-1 contenedor-1"
    "contenedor-4 contenedor-4 contenedor-4 contenedor-4"
    "contenedor-2 contenedor-2 contenedor-3 contenedor-3" 
    "contenedor-2 contenedor-2 contenedor-3 contenedor-3"
    ;
    max-width: 1080px;
    text-align: center;
    gap: 1rem;
    justify-content: center;
    padding-top: 6em;
    padding-bottom: 6em;
    margin: auto;

    & .contenedor-1{
        background-image:url(../../assets/image/titulo-2.png);
        grid-area: contenedor-1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: $secondary;
        padding: 1rem;
        font-size: 25px;
        border-radius: 1rem;
    }
    & .contenedor-2{
        background-color: $third;
        grid-area: contenedor-2;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border-radius: 1rem;
        padding: 2rem;
        & div ul{
            text-align: center;
            margin: auto;
        }
    }
    & .contenedor-3{
        background-color: $third;
        grid-area: contenedor-3;
        border-radius: 1rem;
        padding: 2rem;
        justify-content: space-around;
        & .buttom{
            background-color: black;
        }
    }
    & .contenedor-4{
        grid-area: contenedor-4;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 2rem;
        background-color: $third;
        border-radius: 1rem;
        & div ul{
            text-align: center;
            margin: auto;
        }
    }
    & .contenedor-2 iframe{
        width: 100%;
    }
    & .contenedor-3 ul iframe{
        width: 100%;
    }
}


@media (max-width: 768px){
    .grid__Service{
        display: grid;
        grid-template-columns: repeat(4,25%);
        grid-template-rows: repeat(4,auto);
        grid-template-areas:
        "contenedor-1 contenedor-1 contenedor-1 contenedor-1"
        "contenedor-4 contenedor-4 contenedor-4 contenedor-4"
        "contenedor-2 contenedor-2 contenedor-2 contenedor-2" 
        "contenedor-3 contenedor-3 contenedor-3 contenedor-3"
        ;
        
        min-width: 600px;
        & .contenedor-1{
            width: 80%;
            margin: auto;
        }
        & .contenedor-2{
            width: 80%;
            margin: auto;
        }
        & .contenedor-3{
            width: 80%;
            margin: auto;
        }
        & .contenedor-4{
            width: 80%;
            margin: auto;
        }
    }
}