
/* Service */

.grid__Service{
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(4,auto);
    grid-template-areas:
    "contenedor-1"
    "contenedor-4"
    "contenedor-2" 
    "contenedor-3"
    ;
    max-width: 1080px;
    text-align: map-get($map:$Estilos, $key:t-a );
    gap: map-get($map:$spacings, $key:xsmall );
    justify-content: center;
    padding-top: 6em;
    padding-bottom: 6em;
    margin: auto;
    & .contenedor-1{
        background-image:url(../../assets/image/titulo-2.png);
        grid-area: contenedor-1;
        @include flex(column, space-between, center, default);
        color: $secondary;
        padding: map-get($map:$Estilos, $key:pdng );
        font-size:map-get($map: $Estilos , $key:t-f );
    }
    & .contenedor-2{
        background-color: $secondary;
        grid-area: contenedor-2;
        color: $principal;
        @include flex(column, space-around, center, default);
        padding: 2rem;
        width: 100%;
        & div ul{
            text-align: map-get($map:$spacings, $key:t-a);
            margin: auto;
        }
        & iframe{
            width: 100%;
        }
    }
    & .contenedor-3{
        background-color: $secondary;
        color: $principal;
        grid-area: contenedor-3;
        padding: 2rem;
        width: 100%;
        text-align: left;
        @include flex(column, space-around, center, default);
        & .buttom{
            background-color: black;
        }
        & ul iframe{
            width: 100%;
        }
    }
    & .contenedor-4{
        grid-area: contenedor-4;
        @include flex(column, space-between, default, default);
        padding: map-get($map:$Estilos, $key:pdng );
        background-color: $secondary;
        color: $principal;
        text-align: left;
        margin: auto;
        width: 100%;
        & div ul{
            text-align: map-get($map:$spacings, $key:t-a);
            margin: auto;
        }
    }
}


@media (max-width: 768px){
    .grid__Service{
        display: grid;
        grid-template-columns: repeat(4,25%);
        grid-template-rows: repeat(4,auto);
        grid-template-areas:
        "contenedor-1 contenedor-1 contenedor-1 contenedor-1"
        "contenedor-4 contenedor-4 contenedor-4 contenedor-4"
        "contenedor-2 contenedor-2 contenedor-2 contenedor-2" 
        "contenedor-3 contenedor-3 contenedor-3 contenedor-3"
        ;
        min-width: 600px;
        & .contenedor-1{
            width: 80%;
            margin: auto;
        }
        & .contenedor-2{
            width: 80%;
            margin: auto;
        }
        & .contenedor-3{
            width: 80%;
            margin: auto;
        }
        & .contenedor-4{
            
            width: 80%;
            margin: auto;
            & div{
                @include flex(column, space-between, center, default);
            }
        }
    }
}