
// Service

.grid__Service{
    display: grid;
    grid-template-columns: repeat(1,100%);
    grid-template-rows: repeat(4,auto);
    grid-template-areas:
    "contenedor-1"
    "contenedor-4"
    "contenedor-2" 
    "contenedor-3"
    ;
    max-width: 1080px;
    text-align: map-get($map:$Estilos, $key:t-a );
    gap: map-get($map:$spacings, $key:xsmall );
    padding-top: 6em;
    padding-bottom: 6em;
    margin: auto;
    & .contenedor-1{
        background-image:url(../../assets/image/titulo-2.png);
        grid-area: contenedor-1;
        @include flex(column, space-between, center, default);
        color: $secondary;
        padding: map-get($map:$Estilos, $key:pdng );
        font-size:map-get($map: $Estilos , $key:t-f );
    }
    & .contenedor-2{
        background-color: $secondary;
        grid-area: contenedor-2;
        color: $principal;
        @include flex(column, space-around, center, default);
        padding: 2rem;
        width: 100%;
        & div{
            width: 100%;
            margin: 2rem a;
            & p{
                margin: 1rem auto 3rem;
                font-size: large;
            }
            & .list{
                width: 35%;
                margin: 1rem auto 3rem;
                text-align: center;
            }
        }
        & p{
            width: 50%;
            text-align: center;
        }
    }
    & .contenedor-3{
        background-color: $secondary;
        color: $principal;
        grid-area: contenedor-3;
        @include flex(column, space-around, left, 3rem);
        & p{
            width: 50%;
            margin: auto;
        }
    }
    & .contenedor-4{
        grid-area: contenedor-4;
        @include flex(column, space-between, default, default);
        padding: map-get($map:$Estilos, $key:pdng );
        background-color: $secondary;
        color: $principal;
        text-align: left;
        margin: auto;
        width: 100%;
        & h3{
            margin-bottom: 2rem;
        }
        & div ul{
            text-align: map-get($map:$spacings, $key:t-a);
            margin: 0rem auto 3rem;
            padding-left: 1.5rem;
        }
    }
}

// media query
@media (max-width: 768px){
    .grid__Service{
        display: grid;
        grid-template-columns: repeat(1,100%);
        grid-template-rows: repeat(4,auto);
        grid-template-areas:
        "contenedor-1"
        "contenedor-4"
        "contenedor-2" 
        "contenedor-3"
        ;
        margin: 0 1rem;
        & .contenedor-2{
            padding: 2rem;
            width: 100%;
            & div{
                & p{
                    width: 100%;
                    text-align: center;
                }
                & .list{
                    margin: 1rem 0;
                    text-align: left;
                }
            }
            & p{
                width: 100%;
                text-align: center;
            }
            & iframe{
                width: min-content;
            }
        }
        & .contenedor-3{
            & p{
                width: 100%;
            }
            & iframe{
                width: min-content;
            }
        }
    }
}