/* helpers */
.none{ 
    border: none;
    text-decoration: none;
}
.color{
    background-image: none;
}
.flex__Row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.button__Articulos{
    background-color: $principal;
    color: $secondary;
}
