/* helpers */
.none{ 
    border: none;
    text-decoration: none;
    color: inherit;
}
.flex__Column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.color{
    background-image: none;
}
.tracing{
    border-bottom: 2px solid orange;
}
.border{
    border: 1px solid orange;
}
