/* Variables */

$principal:#0b0c0d; 
$secondary: #fff;
$font-primary: "Inter", sans-serif;
$font-secondary: "Bowly One SC", cursive;
$third: rgb(247, 220, 171);
$font-third: 'Roboto Mono', monospace;
